body {
    background-color: white;
  }
  
  .gifs {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gif {
    padding: 0 2px;
  }
  
  .loader {
    color: blue;
  }

  #gifs{
    padding: 5px;
  }

  form{ display: flex;}


  .form-control{
    padding: 5px;
    width: 300px;
    margin-left: auto;
  }

  .btn {
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgb(35, 86, 255);
    color: white;
    margin-left: 5px;
    margin-right: auto;
  }